{% extends 'base1.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load follow_status_tags %}
{% block people %}nav-active{% endblock %}

{% block content %}
   

    <div class="view-wrapper">

        <!-- /partials/global/options-nav/friends-options-nav.html -->
        <div class="options-nav no-shadow">
            <div class="container is-fluid">
                <div class="nav-inner is-friends">
                
                    <div class="option-tabs is-friends">
                      <a href="{% url 'following' %}" class="option-tab">
                            <span>Following</span>
                        </a>
                      
                        <a href="{% url 'followers' %}" class="option-tab is-active" data-tab="all-friends">
                            <span>Followers</span>
                        </a>
                      
                          <a class="option-tab " href="{% url 'all_peoples' %}" >
                            <span>All People</span>
                        </a>
                        <div class="option-naver"></div>
                    </div>
                    <div class="end-group">
                        <div class="nav-item is-friend-count">{{followers|length}} followers |  <span id="following" count="{{following}}"> &nbsp;{{following}}</span> &nbsp;following</div>
                        
                        <form id="search-form" action="{% url 'all_peoples' %}">
                            <div class="navbar-item">
                                <div id="global-search" class="control">
                                    <input id="people_search_input" name="name" class="input is-rounded" type="text"
                                        placeholder="Search" required>
                                    <div id="tipue_drop_content" class="tipue-drop-content"></div>
                                </div>
                                <a href="#" style="padding-left: 7px;" class="global_search_btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                </a>
                            </div>
                        </form>

                        {% comment %}
                        <a id="show-subsearch" class="nav-item is-icon">
                            <i data-feather="search"></i>
                        </a>
                        <a id="hide-subsearch" class="nav-item is-icon is-hidden">
                            <i data-feather="x"></i>
                        </a>

                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div><!-- /partials/global/sidebar/friends-filters-panel.html -->
        <div class="filters-panel">
            <form id='people-filter-form' method="POST">
                {% csrf_token %} 
                <div class="panel-inner">
                    <h3 class="panel-title">Filter people</h3>
                    <div class="filter-block">
                        <div class="control is-combo">
                            <div class="combo-label">People Type</div>
                            <select name="people_type" id="people_type" class="input ajax_filter">
                                <option value="">All</option>
                                {% for user_group in user_groups %}
                                    <option value="{{user_group}}">{{user_group}}</option>
                                {% endfor %}
                                    <option value="teacher">Teacher</option>

                            
                            </select>
                        </div>
                    </div>




                    <div class="filter-block">
                        <div class="control is-combo">
                        <div class="combo-label">Skill Categories</div>       
                            {% csrf_token %} 
                            {% for skill_category in skill_categories %}                     
                                <div class="basic-checkbox is-accent">
                                    <input id="styled-checkbox-{{forloop.counter}}" type="checkbox"  class="ajax_skill_filter styled-checkbox"  name="skill_category" value="{{skill_category.id}}">
                                    <label for="styled-checkbox-{{forloop.counter}}">{{skill_category}}</label>
                                </div>
                            {% endfor %}    
                            
                            
                            <div class="combo-label">Skill</div>       
                            {% csrf_token %} 
                            <div  id="skill_div">
                                {% for skill in skills %}                     
                                    <div class="basic-checkbox is-accent">
                                        <input id="styled-checkbox-{{forloop.counter}}4" type="checkbox"  class="ajax_filter styled-checkbox"  name="skill" value="{{skill.id}}">
                                        <label for="styled-checkbox-{{forloop.counter}}4">{{skill}}</label>
                                    </div>
                                {% endfor %}  
                            </div>


                                        
                            <div class="combo-label">Location</div>       
                            <select name="location" id="location" class="input ajax_filter">
                                <option value="Choose Location">Choose Location</option>
                                {% for location in locations %}
                                    <option value="{{location.id}}">{{location}}</option>
                                {% endfor %}                       
                            </select>
                                
                        </div>           
                    </div>

            
                
                </div>
            </form>
        </div><!-- /partials/global/pageloader/subloaders/grey-subloader.html -->
        <div class="subloader is-grey is-active">
            <div class="loader is-loading"></div>
        </div>

        <div id="friends-page" class="friends-wrapper main-container"style="top: 60px;">
            
            <!--First tab-->
            <div id="all-friends" class="card-row-wrap is-active">
                <div class="card-row-placeholder is-hidden">
                    No matching results
                </div>
                <div class="card-row people_div">
                    <!-- /partials/pages/friends/friend-lists/all-friends.html -->         
                    {% for follower in followers %}
                        <!--Friend-->
                        <div class="card-flex friend-card">
                        
                            <div class="img-container">
                                {% if follower.user.profile_picture %}
                                    <img class="avatar" src="{{follower.user.profile_picture.url}}" style="width: 90px; height: 90px;" alt="">
                                {% else %}
                                    <img class="avatar" src="{% static 'blank-profile-picture.webp' %}" style="width: 90px; height: 90px;" data-demo-src="assets/img/david.jpg" alt="">
                                {% endif %}
                            </div>
                            <div class="friend-info">
                                <h3><a href="{% url 'profile' user_object.id %}">{{follower.user}}</a></h3>
                                <p> 
                                    {% for group in follower.user.groups.all %}
                                        {{group}} 
                                    {% if not forloop.last %}
                                        | 
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="friend-stats">
                                <div class="stat-block">
                                    <label>Followers</label>
                                    <div class="stat-number" count=" {{follower.user.followers_count}}" id="user_id{{follower.user.id}}">
                                        {{follower.user.followers_count}}
                                    </div>
                                </div>
                                <div class="stat-block">
                                    <label>Following</label>
                                    <div class="stat-number">
                                        {{follower.user.following_count}}
                                    </div>
                                </div>
                                
                            </div>
                            <div style="padding-top:20px; padding-left:10px">

                                {% get_follow_status follower.user.id user as status %}
                                    <a title="Follow/Un Follow"  class="button is-solid green-button raised follow_unfollow user_id_{{follower.user.id}}" id="user_id_{{follower.user.id}}" user_id="{{follower.user.id}}" data-url="{% url 'follow_unfollow' follower.user.id %}">
                                {% if status %}
                                    Following
                            
                                {% else %}
                                    Follow
                                    
                                {% endif %}
                                </a>

                                
                                
                                <a class="button is-solid primary-button raised report_people" data-modal="AjaxModal" data-url="{% url 'report_people' follower.user.id %}">Report User</a>
                            </div>
                        </div>
                        <!--Friend-->
                    {% endfor  %}


                
                </div>
            </div>

        </div>

    </div>



<div id="add-edit-modal" class="modal change-cover-modal is-medium has-light-bg">
    <div class="modal-background"></div>
    <div class="modal-content">
    
        <div class="card">
            <div class="card-heading">
                <h3 id="model-title">Add - Skill</h3>
                <!-- Close X button -->
                <div class="close-wrap">
                    <span class="close-modal">
                        <i data-feather="x"></i>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <!-- Placeholder -->
                <div class="selection-placeholder">
                    <div class="columns">
                        <div class="column is-6">
                            <div class="field popup-content">
                                <img src="{% static 'images/loader.gif' %}" alt="Ajax Call">
                                {% comment %}
                                    <label class="addskill">Skill*</label>
                                    <div class="control">
                                        <select class="form-panel">
                                            <option>Carnatic</option>
                                            <option>Veena</option>
                                            <option>Flute</option>
                                        </select>
    
    
                                        <div> 
                                            <a class="button is-solid primary-button raised p-4 mt-4">Save</a>
                                            <a class="button is-solid red-button raised p-4 mt-4">Delete</a>
                                        </div>
                                    </div>
                                {% endcomment %}
    
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </div>




<!-- ADD sKILL item MODAL-->
<div id="AjaxModal" class="modal change-cover-modal is-medium has-light-bg">
    <div class="modal-background"></div>
    <div class="modal-content">

        <div class="card">
            <div class="card-heading">
                <h3>Update - Skill</h3>
                <!-- Close X button -->
                <div class="close-wrap">
                    <span class="close-modal">
                            <i data-feather="x"></i>
                        </span>
                </div>
            </div>
            <div class="card-body">
                <!-- Placeholder -->
                <div class="selection-placeholder">
                    <div class="columns">
                        <div class="column is-8">
                            <div class="field">
                                <label>Skill*</label>
                                <div class="control">
                                    <select class="form-panel">
                                        <option>Carnatic</option>
                                        <option>Veena</option>
                                        <option>Flute</option>
                                    </select>
                                    <div> 
                                        <a class="button is-solid primary-button raised p-4 mt-4">Update</a>
                                        <a class="button is-solid red-button raised p-4 mt-4">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




{% comment %}

    <!-- BreadCrumb Starts -->  
    <section class="breadcrumb-main pb-0 pt-3" style="background-image: url(images/bg/bg2.jpg);">
        <div class="breadcrumb-outer">
            <div class="container">
                <div class="breadcrumb-content d-md-flex align-items-center pt-1">              
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">All People</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dot-overlay"></div>
    </section>
    <!-- BreadCrumb Ends --> 

    <!-- Left side filter section starts-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">        
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="user-profile">
                <div class="explore-heading">
                    <div class="row">
                        <div class="col-8">
                            <h4>People Filter</h4>
                        </div>
                        <div class="col-4">
                            <a class="event-filter-reset">Reset</a>
                        </div>
                    </div>                    
                </div>
                <div class="explore-dt mt-3">
                    <h6>Skill Categories</h6>
                </div>

             
            
                    <div class="explore-dt mt-3">
                        <h6>Skill</h6>
                    </div>
                    <form id='people-filter-form' method="POST">
                        {% csrf_token %} 
                    
                    

                    <input type="hidden" name="name" class="" id="hidden_name_input" value="">
                    <input type="hidden" name="people_type" class="" id="hidden_people_type_input" value="">
                   
                    <div class="user-info__sections" id="skill_div">                                          
                            <ul class="info__sections">
                                {% for skill in skills %}                                 
                                <li>
                                    <div class="all-info__sections">
                                        <input type="checkbox"  class="ajax_filter"  name="skill" value="{{skill.id}}">
                                        <label> {{skill}}</label>
                                    </div>										
                                </li> 
                            {% endfor %}
                        </ul>
                        
                    </div>                                           
                    <div class="explore-dt">
                        <h6>Location</h6>
                    </div>
                    <div class="user-info__sections">           
                        <select name="location" class="ajax_filter">
                            <option  class="ajax_filter"  name="location">Choose Location</option>
                            {% for location in locations %}                               
                                    <option  class="ajax_filter"  value="{{location.id}}">{{location}}</option>
                            {% endfor %}
                        </select>               
                    </div>            

                </form>
            
            </div>
        </div>
    </div>
    <!-- Left side filter section ends-->

    <!-- blog starts -->
    <section class="blog blog-left">
        <div class="container">
            <div class="row">
                <!-- sidebar starts -->
                <div class="col-lg-3 col-md-12">
                    <div class="sidebar-sticky">
                        <div class="list-sidebar">
                            <div class="popular-post sidebar-item mb-4 box-shadow p-4">

                                <h4 class="">{{user}}</h4>
                                <div class="col-lg-12">
                                    <h5><u><a class="nav-active" href="{% url 'all_peoples' %}">All People</a></u></h5>
                                    <h5><u><a href="{% url 'following' %}" id="following" count="{{user.following_count}}">People I Follow - {{user.following_count}}</a></u></h5>
                                    <h5><u><a href="{% url 'followers' %}" id="followers" count="{{user.followers_count}}">People Following Me - {{user.followers_count}}</a></u></h5>
                        
                                </div>
                        
                            
                            </div>
                        </div>
                    </div>
                </div>
                    
            

                    <div class="col-lg-9">

                        <div class="row">
                            

                            <div class="col-sm-6"><h5>Find People</h5></div>
                            <div class="col-sm-6"><a class="float-end page_refresh btn nir-btn-small" href="{% url 'all_peoples' %}">Clear Search </a></div>
                            
                            

                                <div class="col-lg-6">
                                    <div class="input-group">                            
                                        <input {% if name %} value="{{name}}" {% endif %} name="name" type="text" id="people_search_input" class="form-control find-search-box" placeholder="Search" style="height:35px;margin-bottom:10px;" />                            	
                                        <span class="find-search-icon" style="margin-top:2% !important; padding-left:6px !important;">
                                        <span class="fa fa-search people_search_btn"></span>                       
                                    </div>
                                </div>
                                <div class="col-lg-6">                
                                
                                </div>

                                <div class="col-sm-12">
                                
                                        <div class="radio-div"> 
                                            <div class="form-check form-check-inline">
                                                <input name="people_type" {% if people_type == "musician" %} checked {% endif %} class="form-check-input people_type" type="radio"  value="Musician">
                                                <label name="people_type" class="form-check-label" for="inlineCheckbox1">Musician</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input name="people_type" {% if people_type == "music_school" %} checked {% endif %} class="form-check-input people_type" type="radio" id="recent-radio-btn" value="Music School">
                                                <label name="people_type" class="form-check-label" for="inlineCheckbox2">Music School</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input name="people_type" {% if people_type == "organizer" %} checked {% endif %} class="form-check-input people_type" type="radio"  value="Event Organizer">
                                                <label name="people_type" class="form-check-label" for="inlineCheckbox3">Event Organizer</label>
                                            </div>
                
                                            <div class="form-check form-check-inline">
                                                <input name="people_type" {% if people_type == "band" %} checked {% endif %} class="form-check-input people_type" type="radio"  value="Band">
                                                <label name="people_type" class="form-check-label" for="inlineCheckbox3">Band</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input name="people_type" class="form-check-input people_type" type="radio"  value="teacher">
                                                <label name="people_type" class="form-check-label" for="inlineCheckbox4">Teacher</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart" style="border:0px; margin-top:0px; margin-bottom: 10px;">
                                                        
                                                </button>
                                                <a  aria-controls="offcanvasWithBackdrop"><img data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" src="{% static 'images/filter-icon.png' %}"></a>
        
        
                                            </div>



                                            
                                            
                                        </div>                             
                                    
                                </div>
                            
        
                            <div class="listing-inner mt-2">
        
                                <div class="blog-full mb-4 border-b pb-4">
                                    <div class="row people_div">  
                                        
                                        {% for user_object in users %}
                                    
                                            <div class="col-sm-6">     
                                                                            
                                            <article class="post mb-1 border-b pb-1">
                                                <div class="s-content d-flex align-items-center justify-space-between">
                                                    <div class="sidebar-image w-25 me-3">
                                                        {% if user_object.profile_picture %}
                                                            <a href="#"><img class="rounded img-fluid" src="{{user_object.profile_picture.url}}" style="width: 90px; height: 90px;" alt="{{user_object}}"></a>
                                                        {% else  %}
                                                            <a href="#"><img class="rounded img-fluid" src="{% static 'images/avatar.png' %}"  style="width: 90px; height: 90px;"alt="{{user_objectr}}"></a>
                                                        {% endif %}
                                                    </div>
                                                    <div class="content-list w-75">
                                                        <h5 class="mb-1"><a href="{% url 'profile' user_object.id  %}">{{user_object}}</a>
        
                                                            <span class="pull-right">                                                        
    
                                                                {% get_follow_status user_object.id user as status %}
                                                                <a title="Follow/Un Follow" href="#">
                                                                {% if status %}
                                                                <i id="user_id_user_object" user_id="{{user_object.id}}" class="fa fa-user-minus Success follow_unfollow user_id_{{user_object.id}}" data-url="{% url 'follow_unfollow' user_object.id %}"></i>
                                                                {% else %}
                                                                    <i id="user_id_{{user_object.id}}" user_id="{{user_object.id}}"  class="fa fa-user-check Success follow_unfollow user_id_{{user_object.id}}" data-url="{% url 'follow_unfollow' user_object.id %}"></i>
                                                                {% endif %}
                                                                </a>
                                                                |<a title="Report User" href="#"> <i data-url="{% url 'report_people' user_object.id %}" class="fa fa-flag report_people"></i> </a>
                                                            </span>
                                                        
                                                        </h5>
                                                            
                                                            
                                                        
                                                        <div class="group">
                                                            {% for group in user_object.groups.all %}
                                                                {{group}} 
                                                                {% if not forloop.last %}
                                                                | 
                                                                {% endif %}
                                                            {% endfor %}
        
                                                        </div>
                                                    </div>    
                                                </div> 
                                            </article>
        
                                            
                                            </div>
        
                                        {% endfor %}
                                    </div>
                                </div>
        
    
                            </div>


                        </div>

                    </div>
                    <!-- Right sidebar starts -->
                    <div class="col-lg-3 col-md-12">

                    <!--
                        <div class="sidebar-sticky">
                            <div class="list-sidebar">
                                <div class="popular-post sidebar-item mb-4">
                                    <h4 class="">Find People</h4>
                                    <div class="col-lg-12">
                                        <div class="input-group">
                                            <input type="text" id="people_search_input" class="form-control" placeholder="Search" />
                                            <span class="find-search-icon">
                                                <button class="people_search_btn" type="button">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    </div>
                                
                                <div class="popular-post people_div sidebar-item mb-4">
                                    <h4 class="">Top Peoples</h4>
        
                                    {% for top_people in top_peoples %}
        
                                        <article class="post mb-1 border-b pb-1">
                                            <div class="s-content d-flex align-items-center justify-space-between">
                                                <div class="sidebar-image w-25 me-3">
                                                    {% if top_people.profile_photo %}
                                                        <a href="#"><img class="rounded-circle" src="{{top_people.profile_photo.url}}" alt=""></a>
                                                    {% else  %}
                                                        <a href="#"><img class="rounded-circle" src="{% static 'images/avatar.png' %}" alt=""></a>
                                                    {% endif %}
                                                </div>
                                                <div class="content-list w-75">
                                                    <h5 class="mb-1"><a href="#">{{top_people}}</a>
        
                                                        {% if top_people == user %}
                                                            
                                                        {% else %}
                                                        <span class="pull-right"> 
                                                                <i data-url="{% url 'write-testimonial' top_people.id %}" class="fa fa-edit write-testimonial"></i> | 
                                                                {% get_follow_status top_people.id user as status %}
                                                                {% if status %}
                                                                <i id="user_id_{{top_people.id}}" user_id="{{top_people.id}}" class="fa fa-minus Success follow_unfollow" data-url="{% url 'follow_unfollow' top_people.id %}"></i>
                                                                {% else %}
                                                                    <i id="user_id_{{top_people.id}}" user_id="{{top_people.id}}"  class="fa fa-plus Success follow_unfollow" data-url="{% url 'follow_unfollow' top_people.id %}"></i>
                                                                {% endif %}
                                                            </span>
                                                        {% endif %}
                                                    </h5>
                                                        
                                                        
                                                    
                                                    <div class="group">
                                                        {% for group in top_people.groups.all %}
                                                            {{group}} 
                                                            {% if not forloop.last %}
                                                            | 
                                                            {% endif %}
                                                        {% endfor %}
            
                                                    </div>
                                                </div>    
                                            </div> 
                                        </article>
        
                                    {% endfor %}                
        
                                </div>  
                        
                            </div>
                        </div>

                        -->
                    </div>
            
            </div>
        </div>
    </section>
    <!-- blog Ends -->  



    <!-- AjaxModal Starts-->
    <div id="AjaxModal" class="modal AjaxModal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    </div>
    <!-- AjaxModal Ends-->
    {% endcomment %}
   <!--name-empty-modal-->
  <div id="name-empty-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Alert</h5>         
        </div>
        <div class="modal-body">
          <p>Enter Something in Searchbox</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="{% static 'js/inbox.js' %}"></script>
<script src="{% static 'js/follow_unfollow.js' %}"></script>
<script src="{% static 'js/report_people.js' %}"></script>
  

<script>
$( document ).ready(function() {    
    //User Group Filter
    $('.radio-div').on('click','.people_type', function(){ 
        var peopleType = $('input[name="people_type"]:checked').val();

        $('#hidden_people_type_input').attr('value',peopleType);
        var name = $('.find-search-box').val();
        $('#hidden_name_input').attr('value',name);
        peopleSearch();
    });

    //Search People
    $(".people_search_btn").click(function(){
    var name = $('#people_search_input').val();

    if (name.length == 0){
        
    }
    else{
        $('#search-form').submit();  
    }

    
    
    
});                   
    
    //page refresh  
     $(".page_refresh").click( function() {               
        window.location="{% url 'all_peoples' %}";
     });   
     
     

        // skill category to skill filter
        $('.ajax_skill_filter').change(function(){                   
            event.preventDefault();
            formdata = new FormData($('#people-filter-form')[0]);
            url = '{%url "ajax_skill_filter"   %}',
                
            $.ajax({
                url : url,
                data : formdata,
                method: 'post',
                dataType: 'json',
                processData: false,
                contentType: false,

                success:function(output)
                {
                    if(output.valid)
                        {                      
                            $('#skill_div').html(output.html);     
                            
                            event_filter();                  
                        
                        }
                    else
                        {
                           alert('Something went wrong')
                        }            
            
                },
            });            
        });





    //people search ajax 
    $(".page_refresh").click( function() {               
        window.location="{% url 'all_peoples' %}";
    });

    //
    $('#people-filter-form').on('change','.ajax_filter', function(){
        event.preventDefault();       
        peopleSearch();
    });



    // Function to compute the product of p1 and p2
    function peopleSearch(){

        formdata = new FormData($('#people-filter-form')[0]);
        //eventfiltertype = $('input[name="event_filter"]:checked').val();
        //formdata.append("event_filter", eventfiltertype);

            url = '{%url "people_filter"   %}',                
            $.ajax({
                url : url,
                data : formdata,
                method: 'post',
                dataType: 'json',
                processData: false,
                contentType: false,
                success:function(output)
                {
                    if(output.valid)
                        {                      
                            $('.people_div').html(output.html);                         
                        
                        }
                    else
                        {
                        alert('Something went wrong')
                        }            
            
                },
            });

        }



      
});
</script>
 

{% endblock %}