{% load crispy_forms_tags %}

{% if operation == "Add" %}


  <form method="post" id="ajax_form" enctype="multipart/form-data">
      {% csrf_token %}
        {% for field in form.visible_fields %}
          <label class="addskill">{{ field.label_tag }}</label>
          <div class="control">
             {{ field }}
             {{ field.errors }}
          <div> 
        {% endfor %}     
        <a class="button is-solid primary-button raised p-4 mt-4 close-modal">Close</a>
        <a class="button is-solid green-button raised p-4 mt-4" id="add_btn" data-url= "{% url 'ajax_add' model_name=model_name  %}">Save</a>
      </div>
  </form>

{% else %}


  <form method="post" id="ajax_form" enctype="multipart/form-data">
    {% csrf_token %}
      {% for field in form.visible_fields %}
        <label class="addskill">{{ field.label_tag }}</label>
        <div class="control">
          {{ field }}
          {{ field.errors }}
        <div> 
      {% endfor %}     
       <a class="button is-solid primary-button raised p-4 mt-4 close-modal">Close</a>
      {% if not model_name == "social_link" %}
        <button type="button"  data-url= "{% url 'ajax_delete' model_name=model_name pk=pk  %}" class="button is-solid secondary-button raised ajax-delete-btn p-4 mt-4 ">Delete</button>
      {% endif %}
        <button type="button"  data-url= "{% url 'ajax_edit' model_name=model_name pk=pk  %}" class="button is-solid green-button raised p-4 mt-4 ajax-edit-btn">Update</button>

    </div>
  </form>

 


{% endif %}