{% extends 'registration-and-login-base.html' %}
{% load crispy_forms_tags %}
{% block content %}

      
        <div class="container mt-3">
            <div>
		   <h5>Password reset sent</h5> 
		   <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</hp><br><hr>
		   <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
		</div>
		
		<div class="text-center mb-2">
		  <a class="btn btn-primary" href="{% url 'signin' %}">Return to login</a>
		</div>
                      
        </div>             
 

{% endblock %}