{% extends 'registration-and-login-base.html' %}
{% load crispy_forms_tags %}
{% block content %}

      
        <div class="container mt-3">
            <div>
		 <h5>Password Reset Form</h5>
		 <p>Please enter your new password so we can verify..</p><br><hr>
		 
		 <form action="" method="POST">
			  {% csrf_token %} 
			  {{form|crispy}}
			  <input class="btn btn-primary mb-2 mt-1" type="submit" value="Reset Password"/>
		</form>
			
		  
	    </div>
		
	 
                      
        </div>             
 

{% endblock %}