{% load static %}
{% load follow_status_tags %}

  <div class="sidebar-sticky">
    <div class="list-sidebar">
        <div class="popular-post sidebar-item mb-4">
            <div class="row">

                <div class="col-lg-6">
                    <h4 class="">Find People</h4>
                </div>

                
                <div class="col-lg-6">
                  <!--  <a class="find_people_clear_search" href="#">Clear Search</a> -->
                </div>

            </div>
           
            <div class="col-lg-12">

                <form method="get" action="{% url 'all_peoples' %}" id="search-form">
                    <div class="input-group">
                        
                            <input name="name" type="text" id="people_search_input" class="form-control find-search-box" placeholder="Name: Musician, Organizer" style="height:35px;margin-bottom:10px;" />
                            <span class="find-search-icon">                      
                                <span class="fa fa-search people_search_btn"></span>                        
                            </span>                       
                        {% comment %}

                        <div class="radio-div"> 
                            <div class="form-check form-check-inline">
                                <input name="people_type" class="form-check-input people_type" type="radio"  value="eventer">
                                <label name="people_type" class="form-check-label" for="inlineCheckbox1">Eventer</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="people_type" class="form-check-input people_type" type="radio" value="musician">
                                <label name="people_type" class="form-check-label" for="inlineCheckbox2">Musician</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="people_type" class="form-check-input people_type" type="radio"  value="troupe">
                                <label name="people_type" class="form-check-label" for="inlineCheckbox3">Troupe</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input name="people_type" class="form-check-input people_type" type="radio"  value="gurukulam">
                                <label name="people_type" class="form-check-label" for="inlineCheckbox4">Gurukulam</label>
                            </div>         
                            <div class="form-check form-check-inline">
                                <input name="people_type" class="form-check-input people_type" type="radio"  value="teacher">
                                <label name="people_type" class="form-check-label" for="inlineCheckbox4">Teacher</label>
                            </div>             
                            <a href="#" name="people_type" style="color:#ffffff; font-size:13px;" class="btn  w-50 link-primary people_type" type="button"  value="clear"> Clear</a>  
                        </div>  
                        
                        {% endcomment %}
                </form>
                </div>
            </div>
            </div>
           
         <div class="popular-post people_div people_div_right sidebar-item mb-4">
            <h4 class="">Peoples</h4>

             {% for top_people in top_peoples %}

                <article class="post mb-1 border-b pb-1">
                    <div class="s-content d-flex align-items-center justify-space-between">
                        <div class="sidebar-image w-25 me-3">
                            {% if top_people.profile_picture %}
                                <a href="#"><img class="rounded-circle" src="{{top_people.profile_picture.url}}" alt=""></a>
                            {% else  %}
                                <a href="#"><img class="rounded-circle" src="{% static 'images/avatar.png' %}" alt=""></a>
                            {% endif %}
                        </div>
                        <div class="content-list w-75">
                            <h5 class="mb-1"><a href="{% url 'profile' top_people.id %}">{{top_people}}</a>

                                {% if top_people == user %}
                                     
                                {% else %}
                                   <span class="pull-right">                                                                   
                                        {% get_follow_status top_people.id user as status %}
                                            <a title="Follow/Un Follow" href="#">
                                        {% if status %}
                                        
                                        <i id="user_id_{{top_people.id}}" user_id="{{top_people.id}}" class="fa fa-user-minus Success follow_unfollow user_id_{{follower.user.id}}" data-url="{% url 'follow_unfollow' top_people.id %}"></i> 
                                        {% else %}
                                            <i id="user_id_{{top_people.id}}" user_id="{{top_people.id}}"  class="fa fa-user-check Success follow_unfollow user_id_{{follower.user.id}}" data-url="{% url 'follow_unfollow' top_people.id %}"></i>
                                        {% endif %}
                                        </a>
                                    </span>
                                {% endif %}
                            </h5>
                                
                                
                               
                            <div class="group">
                                {% for group in top_people.groups.all %}
                                    {{group}} 
                                    {% if not forloop.last %}
                                    | 
                                    {% endif %}
                                {% endfor %}

                            </div>
                        </div>    
                    </div> 
                </article>

             {% endfor %}                

        </div>

    </div>
</div>