  .mgt-10{
        margin-top:10px;
        margin-bottom:10px;
        /*text-align:right;*/
    }       
   .mgt-20 {
    background-color: whitesmoke;
    padding: 5px 12px;
}
.btn-display-right{ text-align:right; margin-bottom:15px;}
.addskill{
    margin-top:10px;
}

.mgt-30 {

justify-content:center;
margin-left:-350px;
}
.form-panel{
    margin-top:5px;
}
select{
font-size: .9rem;
    height: 36px;
    border-radius: 0.65rem;
    transition: all .3s; width:50%;
}
.profile-about .slider-timeline .timeline-item{margin-bottom:15px;}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .closed {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 20ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .closed:hover {
    color: black;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  /*All events page*/
.all-eve-events-wrapper {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: calc(100vh - 58px);
    background: #fff
}

.all-eve-events-wrapper.is-pushed {
    top: 150px;
    height: calc(100vh - 150px)
}

.all-eve-events-wrapper.is-pushed .left-panel,
.all-eve-events-wrapper.is-pushed .right-panel {
    top: 150px;
    height: calc(100vh - 150px)
}

.all-eve-events-wrapper .left-panel {
    position: fixed;
    top: 58px;
    left: 0;
    width: 260px;
    height: calc(100vh - 58px);
    background: #fff;
    border-right: 1px solid #e0e0e0
}

.all-eve-events-wrapper .left-panel .left-panel-inner {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 60px
}

.all-eve-events-wrapper .left-panel .left-panel-inner a {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #dedede;
    transition: all .3s
}

.all-eve-events-wrapper .left-panel .left-panel-inner a.is-active {
    background: #f2f2f2
}

.all-eve-events-wrapper .left-panel .left-panel-inner a.is-active span.tag {
    background: #5596e6 !important;
    color: #fff !important
}

.all-eve-events-wrapper .left-panel .left-panel-inner a.is-active span.date-block svg {
    stroke: #5596e6
}

.all-eve-events-wrapper .left-panel .left-panel-inner a span {
    display: block
}

.all-eve-events-wrapper .left-panel .left-panel-inner a span.date-block {
    display: flex;
    align-items: center
}

.all-eve-events-wrapper .left-panel .left-panel-inner a span.date-block svg {
    position: relative;
    top: -1px;
    height: 18px;
    width: 18px;
    margin-right: 6px;
    stroke: #cecece;
    transition: stroke .3s
}

.all-eve-events-wrapper .left-panel .left-panel-inner a span.date-block .month {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: #393a4f;
    font-size: .85rem;
    line-height: 1;
    width: 75px
}

.all-eve-events-wrapper .left-panel .left-panel-inner a span.meta-block {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.all-eve-events-wrapper .left-panel .left-panel-inner a span.meta-block .time {
    font-size: .8rem;
    color: #999;
    line-height: 1
}

.all-eve-events-wrapper .left-panel .left-panel-inner a span.meta-block .type {
    display: inline-block
}

.all-eve-events-wrapper .left-panel .left-panel-inner a span.meta-block .type .tag {
    display: inline-block;
    border-radius: 100px;
    line-height: 2;
    transition: all .3s;
    background: #f2f2f2;
    color: #393a4f
}

.all-eve-events-wrapper .left-panel .left-panel-inner .add-event {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #fff;
    transition: opacity .3s
}

.all-eve-events-wrapper .left-panel .left-panel-inner .add-event .button {
    height: 42px;
    width: 100%;
    border: 2px dashed #cecece;
    color: #999
}

.all-eve-events-wrapper .left-panel .left-panel-inner .add-event .button:hover {
    border: 2px solid #3d70b2;
    background: #3d70b2;
    color: #fafafa;
    box-shadow: 0 14px 26px -12px rgba(61, 112, 178, .42), 0 4px 23px 0px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(61, 112, 178, .2) !important
}

.all-eve-events-wrapper .right-panel {
    position: fixed;
    top: 58px;
    right: 0;
    width: 380px;
    height: calc(100vh - 58px);
    background: #fff;
    border-left: 1px solid #e0e0e0
}

.all-eve-events-wrapper .right-panel .panel-header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0 30px
}

.all-eve-events-wrapper .right-panel .panel-header h3 {
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600
}

.all-eve-events-wrapper .right-panel .panel-body {
    position: relative;
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 0 20px 20px 20px
}

.all-eve-events-wrapper .right-panel .panel-body .activity-block {
    display: flex;
    align-items: flex-start;
    padding: 10px 0
}

.all-eve-events-wrapper .right-panel .panel-body .activity-block img {
    display: block;
    height: 32px;
    width: 32px;
    min-width: 32px;
    border-radius: 50%
}

.all-eve-events-wrapper .right-panel .panel-body .activity-block .activity-meta {
    margin-left: 10px
}

.all-eve-events-wrapper .right-panel .panel-body .activity-block .activity-meta p {
    font-size: .85rem;
    color: #393a4f
}

.all-eve-events-wrapper .right-panel .panel-body .activity-block .activity-meta p a {
    font-weight: 500;
    color: #393a4f;
    transition: color .3s
}

.all-eve-events-wrapper .right-panel .panel-body .activity-block .activity-meta p a:hover {
    color: #5596e6
}

.all-eve-events-wrapper .right-panel .panel-body .activity-block .activity-meta span {
    display: block;
    font-size: .85rem;
    color: #999
}

.all-eve-events-wrapper .all-eve-wrapper-inner {
    position: relative;
    height: 100%;
    margin-right: 380px
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all .3s
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item {
    position: relative;
    width: 100%;
    padding: 40px 60px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    display: flex
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-inner-wrap {
    position: relative
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-inner-wrap .event-options {
    position: absolute;
    top: 5px;
    right: 0
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-inner-wrap .event-options:hover .button svg {
    animation: rotation 2s infinite linear
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-inner-wrap .event-options .button {
    background: transparent;
    border: none;
    padding: 0;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-inner-wrap .event-options .button svg {
    color: #757a91
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-title {
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    color: #393a4f;
    line-height: 1.1;
    max-width: 520px
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-subtitle {
    display: flex;
    margin: 40px 0 10px 0
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-subtitle svg {
    height: 20px;
    width: 20px;
    margin-right: 6px
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-subtitle h3 {
    color: #999
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content {
    display: flex;
    align-items: flex-start
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content .event-owner {
    display: flex;
    align-items: center;
    min-width: 80px
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content .event-owner img {
    display: block;
    height: 44px;
    width: 44px;
    min-width: 44px;
    border-radius: 50%;
    margin: 0 auto
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content .event-owner .owner-meta {
    margin-left: 12px
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content .event-owner .owner-meta span {
    display: block
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content .event-owner .owner-meta span:first-child {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: .9rem;
    color: #393a4f
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content .event-owner .owner-meta span:nth-child(2) {
    font-size: .9rem;
    color: #999
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content .event-description p {
    color: #757a91;
    margin-bottom: 10px;
    margin-top: 30px;
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-content .event-description p:last-child {
    margin-bottom: 0
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-participants {
    margin-top: 10px;
    display: flex;
    align-items: center
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-participants .participants-group {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-participants .participants-group img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 3px solid #fff
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-participants .participants-group img:not(:first-child) {
    margin-left: -12px
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-participants .participants-text {
    margin-left: 10px
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-participants .participants-text p {
    font-size: .8rem;
    color: #888da8
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-participants .participants-text p a {
    color: #393a4f
}

.all-eve-events-wrapper .all-eve-wrapper-inner .event-list .event-item .event-participants .participants-text p a:hover {
    color: #5596e6
}
.event-desc-list-btn-1{
    margin-left: 520px;
}
.event-desc-list-btn{
    margin-left: 30px;
}
.event-image img{
    width: 100%;
}
.create{
    text-align:right;
    margin-right: 32%;
    margin-top: 25px;
}

/* chatbox */
  .mgt-10{
        margin-top:10px;
        margin-bottom:10px;
        /*text-align:right;*/
    }       
   .mgt-20 {
    background-color: whitesmoke;
    padding: 5px 12px;
}
.btn-display-right{ text-align:right; margin-bottom:15px;}
.addskill{
    margin-top:10px;
}

.mgt-30 {

justify-content:center;
margin-left:-350px;
}
.form-panel{
    margin-top:5px;
}
select{
font-size: .9rem;
    height: 36px;
    border-radius: 0.65rem;
    transition: all .3s; width:50%;
}

.msger-inputarea1 {
    background: #eee;
    width: 80%;
  }

  /*chatbox local-file upload button space*/
  .upload-crop-profile-modal .card .card-footer, .upload-crop-profile-modal .shop-wrapper .cart-container .cart-content .cart-summary .summary-card .card-footer, .shop-wrapper .cart-container .cart-content .cart-summary .upload-crop-profile-modal .summary-card .card-footer, .upload-crop-cover-modal .card .card-footer, .upload-crop-cover-modal .shop-wrapper .cart-container .cart-content .cart-summary .summary-card .card-footer, .shop-wrapper .cart-container .cart-content .cart-summary .upload-crop-cover-modal .summary-card .card-footer{
    justify-content:space-evenly;
  }


  /*comment-textarea color chat-box*/
  .comment-textarea{  
  background-color:white;
  }

 /*chatbox send button*/ 
  .msger-send-btn1 {
    color: #3d70b2;
    margin-top:20px;
   
  }
  /*chat-box plus button*/
  .chat-wrapper .chat-inner .chat-action .chat-action-inner .control .add-button{
    margin-top:30px;
  }
  /*my-network page */
  .mynetwork-btn-align{
    padding-top:20px;
    text-align: center;
  }
  /*event-inbox page side header*/
  .sideheader-text{
font-size:larger;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:black;
  }
/*myevents*/
  .headerbtn-align{
margin-left:220px;

  }


 